header {
    
    border-bottom: 1px solid #2196f3;
    margin-left: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    
    display: flex;
    justify-content: flex-start;
}


.nav {
    $main-txt-color: #111111;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-content: baseline;
    align-self: space-between;
    margin-right: 30px;
    
    &__list {
        display: flex;

    }

    &__li {
        list-style: none;
        margin: 11px;
        
    }
    
    &__link {
        text-decoration: none;
        font-size: 18px;
    }
}