$main-txt-color: #111111;

.main {
    .main {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        
        &__heading {
            text-align: center;
            $main-txt-color: #111111;
            padding-top: 20px;
            font-size: 30px;
            font-weight: bold;
        }
    
        &__subhead {
            font-size: 22px;
            font-weight: bold;
            color: #4A4FF2;
            margin-left: 126px;
            padding-top: 96px;
        }
    
        &__header {
            max-width: 600px;
            width: 100%;
            font-size: 40px;
            font-weight: bold;
            $main-txt-color: #111111;
            margin-left: 126px;
            padding-top: 32px;
            display: flex;
            display: inline-block;
        }

        &__quote {
            font-size: 18px;
            font-weight: italic;
            $main-txt-color: #111111;
            margin-left: 190px;
            display: flex;
            display: inline-block;
            opacity: 60%;
        }

        &__info {
            max-width: 600px;
        width: 100%;
        font-size: 28px;
        line-height: 38px;
        font-weight: bold;
        $main-txt-color: #111111;
        margin-left: 126px;
        padding-top: 32px;
        display: flex;
        display: inline-block;
        }
    }
     
}


    .info {
        max-width: 600px;
        width: 100%;
        font-size: 28px;
        line-height: 38px;
        font-weight: bold;
        $main-txt-color: #111111;
        margin-left: 126px;
        padding-top: 32px;
        display: flex;
        display: inline-block;
    }

    .nav-second {
        $main-txt-color: #111111;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-self: space-between;
        margin-right: 30px;
        margin-left: 800;

        &__second {
            display: flex;
    
        }
    
        &__li {
            list-style: none;
            margin: 11px;
            
        }
        
        &__link {
            text-decoration: none;
            font-size: 18px;
        }

    
    }


